* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    text-align: center;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    color: white;
}

main {
    width: 90vw;
    max-width: 600px;
    max-height: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr;
    align-items: center;
    gap: 15px;
}

.title{
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    color: crimson;
}

.letsplay{
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: antiquewhite;
}
.welcome-msg {
    font-size: 18px;
    color: darksalmon;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.options {
    height: 150px;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.options img {
    width: 100%;
    max-width: 130px;
    border: 2px solid transparent;
    border-radius: 15%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

.options img:hover,
.options img:focus {
    border: 2px solid crimson;
    box-shadow: 0 10px 30px rgba(244, 71, 136, 0.2);
    transform: translateY(-5px);
}

.reset-game {
    width: 150px;
    height: 75px;
    align-self: center;
    background-color: #201E1F;
    border: 1px solid black;
    border-radius: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 18px;
}

.reset-game:hover {
    border: 1px solid crimson;
    box-shadow: 0 10px 10px rgba(107, 18, 2, 0.945);
    cursor: pointer;
}

.score {
    display: flex;
    justify-content: space-around;
    color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    
}

.update {
    height: 40px;
    font-size: 18px;
    font-style: italic;
    color: lightsalmon;
}

.gameover-update {
    font-size: 18px;
    color: darkred;
}

.hide {
    display: none;
}

@media only screen and (min-width: 640px) {
    main {
        gap: 30px;
    }

    .welcome-msg,
    .update,
    .gameover-update {
        font-size: 20px;
    }

    .score {
        padding-bottom: 20px;
    }

}